.bghero {
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("/fondo1.jpg");
  background-size: cover;
  background-position: 50% 30%;
}

/* Estilo para el modo oscuro */
.dark .bghero {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/fondo1.jpg"); /* Cambia a un fondo distinto si es necesario */
  background-size: cover;
  background-position: 50% 30%;
}

/* From Uiverse.io by Spacious74 */
/* From Uiverse.io by zjssun */
.btnHero {
  border-radius: 8px;
  color: #ffffff80;
  text-shadow: none;
  background: transparent;
  cursor: pointer;
  box-shadow: transparent;
  border: 1px solid #ffffff80;
  transition: 0.5s ease;
  user-select: none;
}

#btnHero:hover {
  color: #ffffff;
  background: #22d3ee;
  border: 1px solid #22d3ee;
  /* text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff; */
  box-shadow: 0 0 5px #22d3ee, 0 0 10px #22d3ee, 0 0 8px #22d3ee,
    0 0 100px #22d3ee;
}
