.imgEffectLow {
  filter: drop-shadow(5px 3px 7px grey);

  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 75%,
    /* Tres cuartos de la imagen son completamente visibles */ rgba(0, 0, 0, 0)
      100% /* El degradado comienza a desaparecer suavemente */
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 0) 100%
  );
}
