.imgEffectLow {
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 75%,
    /* Tres cuartos de la imagen son completamente visibles */ rgba(0, 0, 0, 0)
      100% /* El degradado comienza a desaparecer suavemente */
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 1) 85%,
    rgba(0, 0, 0, 0.7) 100%
  );
}

.bghero {
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("/bg5.png");
  background-size: cover; /* Ensures the image covers the element */
  background-position: 50% 30%; /* Centers the image */
}

/* From Uiverse.io by Spacious74 */
/* From Uiverse.io by zjssun */
.btnHero {
  padding: 5px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff80;
  text-shadow: none;
  background: transparent;
  cursor: pointer;
  box-shadow: transparent;
  border: 1px solid #ffffff80;
  transition: 0.5s ease;
  user-select: none;
}

#btnHero:hover {
  color: #ffffff;
  background: #22d3ee;
  border: 1px solid #22d3ee;
  /* text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff; */
  box-shadow: 0 0 5px #22d3ee, 0 0 10px #22d3ee, 0 0 10px #22d3ee,
    0 0 100px #22d3ee;
}
