/* From Uiverse.io by faxriddin20 */
.card {
  width: 100%;
  height: fit-content;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* for all social containers*/
.socialContainer {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #9061f9;
  transition-duration: 0.3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: 0.3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: green;
  transition-duration: 0.3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.menu {
  position: fixed;
  bottom: 0; /* Respaldo si no hay soporte para env() */
  bottom: env(
    safe-area-inset-bottom,
    1rem
  ); /* 1rem de espacio en caso de no soportar env() */
  left: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
  padding: 1rem;
}
.menu {
  position: fixed;
  bottom: 0; /* Respaldo si no hay soporte para env() */
  bottom: env(
    safe-area-inset-bottom,
    1rem
  ); /* 1rem de espacio en caso de no soportar env() */
  left: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
  padding: 1rem;
}
